@page "/C000"
@attribute [Authorize]


<h3> C000 Physical Inventory Count 库存盘点</h3>
<ul>
    <li>C010 Physical Inventory Count 自动仓库存盘点</li>
    <li>C030 Physical Inventory Count Record 盘点数据记录</li>
    <li>C040 PIC Difference Adjustment 盘点差异调整</li>

</ul>
