@page "/M000"
@attribute [Authorize]


<h3> M000 Data Maintenance 数据维护</h3>
<ul>
    <li>M070 AS/RS Transfer Command Maintain AS/RS 搬运命令维护</li>
    <li>M090 Location Usage Status Maintain 库位使用状态维护</li>

</ul>
