@page "/P000"
@attribute [Authorize]

<h3>  <a href="/"> <span class="oi oi-home" aria-hidden="true"></span></a> -   <span class="oi oi-project" aria-hidden="true"></span> P000 Process Executing 流程执行</h3>
<ul>
    <li><a href="P020">P020 Stock Allocation for Delivery Order(Auto) 交货单分配库存出库(自动)</a></li>
    <li>P030 Stock Allocation for Delivery Order(Manual) 交货单分配库存出库(人工)</li>
    <li>P060 Storage Transfer Out 转储出库</li>
    <li>P070 Pallet Inventory Adjustment 托盘库存调整</li>
    <li>P080 Inventory Transfer 库存移转</li>
    <li>P090 Palletizing of Empty Pallet 空托盘码垛</li>
    <li>P100 Empty Pallet Transfer Out 空托盘出库</li>


</ul>

