@page "/xxxPageList"
@inject IWebHostEnvironment WebEnvironment;
<h3><span class="oi oi-home" aria-hidden="true"></span> Program List 程序清單</h3>

@if (pages != null)
{
    <ol>
        @foreach (var x in pages)
        {
            <li><a href="@x.Id">@x.Name</a></li>
        }
    </ol>

}
@*<h3>不分組</h3>
    <ol>
        <li>S010 User Basic Data Maintain使用者基本数据维护</li>
        <li>S020 Group Basic Data Maintain群组基本数据维护</li>
        <li>S030 Program Basic Data Maintain程序基本数据维护</li>
        <li>S040 Group User Data Maintain群组使用者数据维护</li>
        <li>S050 Program Authorization by Group依群组设定程序使用权</li>
        <li>S060 Program Authorization by User依使用者设定程序使用权</li>
        <li>S070 Code Data Maintain代码维护(Not apply不适用)</li>
        <li>S080 User Login Password Change使用者登入密码变更</li>
        <li>S090 Translation Dictionary Maintain翻译字典维护</li>
        <li>P020 Stock Allocation for Delivery Order(Auto)交货单分配库存出库(自动)</li>
        <li>P030 Stock Allocation for Delivery Order(Manual)交货单分配库存出库(人工)</li>
        <li>P060 Storage Transfer Out转储出库</li>
        <li>P070 Pallet Inventory Adjustment托盘库存调整</li>
        <li>P080 Inventory Transfer库存移转</li>
        <li>P090 Palletizing of Empty Pallet空托盘码垛</li>
        <li>P100 Empty Pallet Transfer Out空托盘出库</li>
        <li>M070 AS/RS Transfer Command Maintain AS/RS搬运命令维护</li>
        <li>M090 Location Usage Status Maintain库位使用状态维护</li>
        <li>C010 Physical Inventory Count自动仓库存盘点</li>
        <li>C030 Physical Inventory Count Record盘点数据记录</li>
        <li>C040 PIC Difference Adjustment盘点差异调整</li>
        <li>Q010 Article Basic Data Query库存产品基本数据查询</li>
        <li>Q020 GTIN Basic Data Query产品替代包装单位基本数据查询</li>
        <li>Q030 Storage Unit Type Basic Data Query储存载具基本数据查询</li>
        <li>Q040 Transfer Requirement Data Query移转需求数据查询</li>
        <li>Q050 Delivery Order Data Query交货单数据查询</li>
        <li>Q060 Physical Inventory Count Data Query盘点单数据查询</li>
        <li>Q070 AS/RS Transfer Command Data Query自动仓搬运命令查询</li>
        <li>Q080 Inventory Data Query库存数据查询</li>
        <li>Q090 Location Usage Status Query库位使用状态查询</li>
        <li>Q100 Location Status Query库位状态查询</li>
        <li>Q110 Bin to Bin Transfer Query转储记录数据查询</li>
        <li>R030 Daily Inbound Summary Report上架日报</li>
        <li>R040 Daily Outbound Summary Report下架日报</li>
        <li>R050 Stock Inquiry Report库存查询报表</li>
        <li>R060 Stock Movement Pallet库存异动托盘数</li>
        <li>R070 Stock Movement Transaction库存异动交易数</li>
        <li>R080 Stock Counting Difference盘点差异</li>
    </ol>*@

@code
{
    List<IdName> pages;
    List<IdName> someList;

    protected override void OnInitialized()
    {
        var wwwroot = WebEnvironment.WebRootPath;

        var file = wwwroot + "/json/pagesList.json";
        string result = "";
        if (File.Exists(file))
        {
            try
            {
                string json = System.IO.File.ReadAllText(file);
                someList = JsonConvert.DeserializeObject<List<IdName>>(json);
            }
            catch (Exception ex)
            {
                //
                var msg = ex.Message;
            }
        }

        pages=someList.OrderBy(x => x.Id).ToList();
    }


}