@page "/R000"
@attribute [Authorize]
<h3>R000 Report 报表</h3>
<ul>
    <li>R030 Daily Inbound Summary Report 上架日报</li>
    <li>R040 Daily Outbound Summary Report 下架日报</li>
    <li>R050 Stock Inquiry Report 库存查询报表</li>
    <li>R060 Stock Movement Pallet 库存异动托盘数</li>
    <li>R070 Stock Movement Transaction 库存异动交易数</li>
    <li>R080 Stock Counting Difference 盘点差异</li>

</ul>

