@page "/S000"

@attribute [Authorize]

<h3>S000 System Setting 系统设定</h3>
<ul>
    <li>S010 User Basic Data Maintain 使用者基本数据维护</li>
    <li>S020 Group Basic Data Maintain 群组基本数据维护</li>
    <li>S030 Program Basic Data Maintain 程序基本数据维护</li>
    <li>S040 Group User Data Maintain 群组使用者数据维护</li>
    <li>S050 Program Authorization by Group 依群组设定程序使用权</li>
    <li>S060 Program Authorization by User 依使用者设定程序使用权</li>
    <li>S070 Code Data Maintain 代码维护(Not apply不适用)</li>
    <li>S080 User Login Password Change 使用者登入密码变更</li>
    <li>S090 Translation Dictionary Maintain 翻译字典维护</li>

</ul>

