@page "/todo"
<h3>TODO</h3>


<ol>
    <li>
        使用ASP.NET所提供的 Identity 做登入和角色
        <ul>
            <li>改為 username登入, not email </li>
            <li>擴展 user 增列必要欄位</li>
            <li>擴展 role 增列必要欄位</li>
            <li>Identity role 和 Program id 綁定 </li>
            <li>由用戶得到允許訪問的 Program</li>
        </ul>
    </li>

    <li>Program id 入到數據庫</li>
    <li>
       多語
        <ul>
            <li>使用手冊</li>
            <li>Menu</li>
            <li>是否包括 table 顯示欄位?</li>
         
        </ul>
    </li>
   
    <li></li>
    <li></li>



</ol>

