<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp1</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="p000">
                <span class="oi oi-project" aria-hidden="true"></span> Process Executing
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="m000">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Data Maintenance
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="c000">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Physical Inv Count
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="q000">
                <span class="oi oi-list" aria-hidden="true"></span> Data Inquire
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="r000">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Report
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="s000">
                <span class="oi oi-cog" aria-hidden="true"></span> System Setting
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conf">
                <span class="oi oi-menu" aria-hidden="true"></span> 項目討論
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="requirement">
                <span class="oi oi-menu" aria-hidden="true"></span> 項目需求
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-menu" aria-hidden="true"></span> TODO
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
